.cover {
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.64);
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;

    &.active {
        display: flex;
    }
}

.task-modal {
    display: none;
    position: relative;
    width: 768px;
    min-height: 725px; // just for now
    margin: 48px 0 80px;
    border-radius: 2px;
    overflow: hidden;
    background-color: #f4f5f7;
    z-index: 25;
    &.active {
        display: flex;
        position: absolute;
    }
}
.modal-module {
    width: 100%;
    text-align: start;
    margin-bottom: 20px;
}

.left-side {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 8px 8px 16px;
    .task-labels-date {
        display: flex;
        flex-wrap: wrap;
        .task-labels-list {
            margin-right: 5px;
        }
    }
    .task-description {
        display: flex;
        align-items: center;
        // background-color: red;
        :first-child {
            margin-right: 10px;
            font-size: rem(24px);
        }
    }
}

.right-side {
    padding: 0 16px 8px 8px;
    overflow: hidden;
    text-align: center;
    h3 {
        color: #5e6c84;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.04em;
        line-height: 16px;
        margin-top: 16px;
        text-transform: uppercase;
        line-height: 20px;
        margin-bottom: -4px;
    }
    .modal-sidebar {
        display: flex;
        flex-direction: column;

        .modal-btn {
            font-size: rem(14px);
            background-color: rgba(9, 30, 66, 0.04);
            box-shadow: none;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            height: 32px;
            margin-top: 8px;
            width: 160px;
            padding: 6px 12px;
            text-decoration: none;
            text-overflow: ellipsis;
            user-select: none;
            transition-property: background-color, border-color, box-shadow;
            transition-duration: 85ms;
            transition-timing-function: ease;
            &:hover {
                background-color: rgba(9, 30, 66, 0.08);
                box-shadow: none;
                border: none;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .task-modal {
        width: 100%;
        flex-direction: column;
        .left-side {
            flex: none;
        }
        .modal-sidebar{
            align-items: center;
        }
    }
}
