.task-preview {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 3px;
    padding: 6px 8px 2px;
    box-shadow: 0 1px 0 rgba(186, 191, 199, 0.25);
    margin-bottom: 8px;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: normal;
    
}
